
extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content
    .bread-crumbs__wrapper
        +bread-crumbs(bread_crumbs)

    .card-wrapper
        .product 
            .product__wr-images
                .product__wr-slider
                    .product__new
                    .swiper.product__slider
                        .swiper-wrapper.product__slider-wrapper
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="")
                    .product__favorites
                .product__wr-thumbs
                    .swiper.product__thumbs
                        .swiper-wrapper.product__thumbs-wrapper
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="")
                    
                    .product__goods-wr-arrow.product__goods-wr-arrow-prev
                        .product__goods-arrow.product__goods-prev
                    .product__goods-wr-arrow.product__goods-wr-arrow-next
                        .product__goods-arrow.product__goods-next
            .product__wr-info 
                .produc__wr-title 
                    h1.product__title Чай черный NIKTEA Сибирский Сбор
                    h2.product__sub-title Чай черный NIKTEA Сибирский Сбор
                ul.product__characteristics.characteristics__list
                    li.characteristics__item
                        .characteristics__title Формат
                        .characteristics__data Пакетированный чай в пирамидках
                    li.characteristics__item
                        .characteristics__title Вид чая
                        .characteristics__data Черный чай
                    li.characteristics__item
                        .characteristics__title Вес
                        .characteristics__data 40,5 г (15 шт*2,7 г)
                    li.characteristics__item
                        .characteristics__title Состав
                        .characteristics__data Чай черный среднелистовой индийский, ягоды рябины черноплодной, ягоды брусники, лепестки василька, лепестки календулы, ароматизатор «Лесные ягоды».
                            .characteristics__data-arrow
                    li.characteristics__item
                        .characteristics__title Производство
                        .characteristics__data Россия
                    li.characteristics__item
                        .characteristics__title Регион
                        .characteristics__data Индия
                    li.characteristics__item
                        .characteristics__title Наличие
                        .characteristics__data.characteristics__data-wrapper
                            .characteristics__available-state
                                span Есть в наличии
                                span Ожидается поступление 
                                span Снято с продажи
                                span Под заказ
                            .characteristics__wr-amount 
                                .characteristics__amount 
                                    span.characteristics__amount-num 15
                                    span.characteristics__pieces шт
                                .characteristics__amount-text На складе
                    li.characteristics__item
                        .characteristics__title Код производителя
                        .characteristics__data ЧП265895
                    li.characteristics__item
                        .characteristics__price
                            .characteristics__price-current
                            .characteristics__price-old
                    li.characteristics__item
                        ul.characteristics__activity-list
                            li.characteristics__activity-item
                                .characteristics__wr-add 
                                    button.characteristics__decrement
                                    input.characteristics__added-pieces(type="text")
                                    button.characteristics__increment
                                button.characteristics__maybe(type="button") Купить
                            li.characteristics__activity-item
                                button.characteristics__in-basket(type="button") #[span В корзине] #[span перейти]
                                button.characteristics__inform(type="button") Сообщить о поступлении
                                button.characteristics__communication(type="button") Связаться с менеджером

        .product-desc             
            .product-desc__controll
                .product-desc__button.product-desc__button_active(data-type="0") Описание
                .product-desc__button(data-type="1") Отзывы
            
            .product-desc__wr-content 
                .product-desc__content.product-desc__content-about(data-type="0") 
                    .product-desc__wr-title
                        h2 Сибирский сбор / Siberian Berries
                    .product-desc__text 
                        p Чайные пирамидки с ярлыком для разовой заварки в индивидуальных конвертах. <br> Чай черный байховый «NIKTEA»® среднелистовой с добавками растительного сырья с ароматом лесных ягод «Сибирский Сбор»15 пирамидок по 2.7 г
                        p Искусно купажированный чай с плантаций Индии и Цейлона. <br> Очень ароматный сбор на основе крепкого черного чая с душистыми таежными ягодами. Вкус многогранный, с живой кислинкой и лесной ноткой.
                .product-desc__content.product-desc__content-review(data-type="1") 
                    a.product-desc__add-review(href="add-review") Написать отзыв
                    ul.reviews__list
                        li.reviews__item 
                            ul.reviews__head-list 
                                li.reviews__head-item.reviews__avatar
                                li.reviews__head-item.reviews__info
                                    .reviews__name Василий Петров
                                    .reviews__date 25.26.2024
                                li.reviews__head-item
                                    ul.reviews__stars-list 
                                        li.reviews__stars-item.reviews__stars_active
                                        li.reviews__stars-item.reviews__stars_active
                                        li.reviews__stars-item.reviews__stars_active
                                        li.reviews__stars-item.reviews__stars_active
                                        li.reviews__stars-item.reviews__stars_active
                        li.reviews__item
                            .reviews__content
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, dolorum explicabo, repellat culpa ipsam laudantium nobis, modi repudiandae ea incidunt nisi. Natus aspernatur nesciunt ex adipisci enim quia reprehenderit? Perspiciatis?
                        li.reviews__item
                            .reviews__read-more
                                a(href="#0") Читать дальше 
                    ul.reviews__pagination-list
                        li.reviews__pagination-item.reviews__pagination_start
                        li.reviews__pagination-item.reviews__pagination_prev
                        li.reviews__pagination-item.reviews__pagination_num.reviews__pagination_active 1
                        li.reviews__pagination-item.reviews__pagination_num 2
                        li.reviews__pagination-item.reviews__pagination_num 3
                        li.reviews__pagination-item.reviews__pagination_dot ...
                        li.reviews__pagination-item.reviews__pagination_num 10
                        li.reviews__pagination-item.reviews__pagination_next
                        li.reviews__pagination-item.reviews__pagination_end
