extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content

    .main-wrapper
        .main__wr-slider
            .swiper.main__slider
                .swiper-wrapper
                    .swiper-slide
                        img.main__slider-img(src=require('../img/content/banner-main-slider-1-content.webp') alt="")
                    .swiper-slide
                        img.main__slider-img(src=require('../img/content/banner-main-slider-2-content.webp') alt="")
                    .swiper-slide
                        img.main__slider-img(src=require('../img/content/banner-main-slider-3-content.webp') alt="")

                .main__slider-pagination

                .main__slider-arrow.main__slider-prev
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 38" fill="none">
                        <path d="M20 2L3 19L20 36" stroke="white" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                .main__slider-arrow.main__slider-next
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 38" fill="none">
                        <path d="M2 2L19 19L2 36" stroke="white" stroke-width="3" stroke-linecap="round"/>
                    </svg>
        .main-content 
            section.goods-day.goods-day__section
                .goods-day__wr-title 
                    h2 Товар дня
                .goods-day__content
                    .goods-day__wr-img 
                        img(src=require('../img/content/goods-of-day-content.webp') title="")
                        a(href="#0" title="") 
                    .goods-day__wr-text 
                        .goods-day__wr-tm-name
                            h2 monin
                            p новая коллеция
                            p более 60 вкусов
                        .goods-day__text
                            p Чайные пирамидки с ярлыком для разовой заварки в индивидуальных конвертах.Чай черный байховый «NIKTEA»® среднелистовой с добавками растительного сырья с ароматом лесных ягод «Сибирский Сбор»15 пирамидок по 2.7 г
                            p Искусно купажированный чай с плантаций Индии и Цейлона.Очень ароматный сбор на основе крепкого черного чая с душистыми таежными ягодами. Вкус многогранный, с живой кислинкой и лесной ноткой.
            section.goods-promo.goods-promo__section
                .goods-promo__wr-title 
                    h2 Товары по акции
                .goods-promo__wr-slider 
                    .swiper.goods-promo__slider
                        .swiper-wrapper.goods-promo__wrapper
                            .swiper-slide.goods-promo__slide
                                .goods-promo__wr-slide-link 
                                    a(href="#0" title="") 
                                .goods-promo__wr-slide-img
                                    img.goods-promo__slide-img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                                .goods-promo__wr-slide-icons 
                                    .goods-promo__slide-favorites 
                                    .goods-promo__wr-slide-basket
                            .swiper-slide.goods-promo__slide
                                .goods-promo__wr-slide-link 
                                    a(href="#0" title="") 
                                .goods-promo__wr-slide-img
                                    img.goods-promo__slide-img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                                .goods-promo__wr-slide-icons 
                                    .goods-promo__slide-favorites 
                                    .goods-promo__wr-slide-basket
                            .swiper-slide.goods-promo__slide
                                .goods-promo__wr-slide-link 
                                    a(href="#0" title="") 
                                .goods-promo__wr-slide-img
                                    img.goods-promo__slide-img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                                .goods-promo__wr-slide-icons 
                                    .goods-promo__slide-favorites 
                                    .goods-promo__wr-slide-basket
                            .swiper-slide.goods-promo__slide
                                .goods-promo__wr-slide-link 
                                    a(href="#0" title="") 
                                .goods-promo__wr-slide-img
                                    img.goods-promo__slide-img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                                .goods-promo__wr-slide-icons 
                                    .goods-promo__slide-favorites 
                                    .goods-promo__wr-slide-basket
                            .swiper-slide.goods-promo__slide
                                .goods-promo__wr-slide-link 
                                    a(href="#0" title="") 
                                .goods-promo__wr-slide-img
                                    img.goods-promo__slide-img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="")
                                .goods-promo__wr-slide-icons 
                                    .goods-promo__slide-favorites 
                                    .goods-promo__wr-slide-basket
                        
                        .goods-promo__slider-wr-arrows
                            .goods-promo__arrow.goods-promo__arrow-prev
                            .goods-promo__arrow.goods-promo__arrow-next

            section.comfortable.comfortable__section 
                .comfortable__wr-title 
                    h2.comfortable__title С нами удобно
                ul.comfortable__content-list 
                    li.comfortable__content-item 
                        .comfortable__content-icon.comfortable__icon-discount
                        p.comfortable__content-text
                            span Скидка
                            span при регистрации
                    li.comfortable__content-item 
                        .comfortable__content-icon.comfortable__icon-bonuses
                        p.comfortable__content-text
                            span Оплачивайте
                            span Ваши покупки бонусами
                    li.comfortable__content-item 
                        .comfortable__content-icon.comfortable__icon-cashback
                        p.comfortable__content-text
                            span Кэшбек за покупки
                            span до 20%
                    li.comfortable__content-item 
                        .comfortable__content-icon.comfortable__icon-birthday
                        p.comfortable__content-text
                            span Скидка 15%
                            span в день рождения

            section.sales-hits.sales-hits__section
                .sales-hits__wr-title 
                    h2.sales-hits__title Хиты продаж
                .sales-hits__content 
                    .swiper.sales-hits__thumbs
                        .swiper-wrapper.sales-hits__thumbs-list 
                            .swiper-slide.sales-hits__thumbs-slide #[span Кофе]
                            .swiper-slide.sales-hits__thumbs-slide #[span Чай]
                            .swiper-slide.sales-hits__thumbs-slide #[span Сиропы] #[span и кордиалы]
                            .swiper-slide.sales-hits__thumbs-slide #[span Молоко]
                            .swiper-slide.sales-hits__thumbs-slide #[span Вода и напитки]
                            .swiper-slide.sales-hits__thumbs-slide #[span Кофемашины]
                            .swiper-slide.sales-hits__thumbs-slide #[span Аксессуары]
                            .swiper-slide.sales-hits__thumbs-slide #[span Посуда WMF]
                            .swiper-slide.sales-hits__thumbs-slide #[span Подарочные наборы]
                            .swiper-slide.sales-hits__thumbs-slide #[span Разное]

                    .swiper.sales-hits__goods
                        .swiper-wrapper.sales-hits__goods-slides
                            .swiper-slide.sales-hits__goods-slide

                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                            .swiper-slide.sales-hits__goods-slide
                                                                
                                .swiper.sales-hits__sub-slider
                                    .swiper-wrapper.sales-hits__sub-wrapper
                                        .swiper-slide.sales-hits__sub-slide
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 COFFEE
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
                                        .swiper-slide.sales-hits__sub-slide 
                                            .sales-hits__goods-img 
                                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                                            .sales-hits__goods-title 
                                                h2 niktea
                                            .sales-hits__goods-price 200 Р
                                            .sales-hits__goods-description Черный чай в пирамидках со вкусом манго и имбиря. 15 пирамидок в пачке пирамидок в пачке
                                            .sales-hits__goods-icons 
                                                .sales-hits__goods-favourites
                                                .sales-hits__goods-basket
