
extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content
    
    +bread-crumbs(bread_crumbs)

    .card-wrapper
        .product 
            .product__wr-images
                .product__wr-slider
                    .product__new.product__new_active
                    .swiper.product__slider.scale1_1
                        .swiper-wrapper.product__slider-wrapper
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-image-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                    //- .favorites__heart_active - если есть в избранном
                    .product__favorites.animation-beat-heart

                    .product__goods-wr-arrow_mobile.product__goods-wr-arrow_mobile-prev
                        .product__goods-arrow_mobile.product__goods-prev_mobile
                    .product__goods-wr-arrow_mobile.product__goods-wr-arrow_mobile-next
                        .product__goods-arrow_mobile.product__goods-next_mobile
                .product__wr-thumbs
                    .swiper.product__thumbs
                        .swiper-wrapper.product__thumbs-wrapper
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-image-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/goods-promo-slider-img-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-image2-content.webp') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                    
                    .product__goods-wr-arrow.product__goods-wr-arrow-prev
                        .product__goods-arrow.product__goods-prev
                    .product__goods-wr-arrow.product__goods-wr-arrow-next
                        .product__goods-arrow.product__goods-next
            .product__wr-info 
                .product__wr-title 
                    h1.product__title Подарочный набор WMF
                    h2.product__sub-title 24 предмета
                //- Мобильная версия
                .product__wr-title_m
                    h2.product__title_m
                        span Подарочный набор WMF
                        span 24 предмета
                .product__price.characteristics__price_m
                    .product__wr-price-current #[span 450] р
                    .product__wr-price-old #[span 650]
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__char-tab-button_m
                    | Характеристики
                ul.product__characteristics.characteristics__list.product-desc__content_mob
                    li.characteristics__item
                        .characteristics__title Тип
                        .characteristics__data Набор столовых приборов
                    li.characteristics__item
                        .characteristics__title Материал
                        .characteristics__data Cromargan®
                    li.characteristics__item
                        .characteristics__title Коллекция
                        .characteristics__data Base
                    li.characteristics__item
                        .characteristics__title Состав набора
                        .characteristics__wr-composition
                            .characteristics__data.characteristics__composition 
                                p 
                                    span Ложка столовая 6 шт
                                    span Вилка столовая 6 шт
                                    span Нож столовый цельнолитой 6 шт 
                                    span Ложка чайно-кофейная 6 шт
                            .characteristics__data-arrow
                    li.characteristics__item
                        .characteristics__title Бренд
                        .characteristics__data WMF
                    li.characteristics__item
                        .characteristics__title Производство
                        .characteristics__data Германия
                    li.characteristics__item
                        .characteristics__title.characteristics__available-title Наличие
                        .characteristics__data.characteristics__wr-available
                            .characteristics__available-state
                                span.characteristics__available-item.characteristics__available_active(data-type="available") Есть в наличии
                                span.characteristics__available-item(data-type="awaiting") Ожидается поступление 
                                span.characteristics__available-item(data-type="withdrawn") Снято с продажи
                                span.characteristics__available-item(data-type="order") Под заказ
                            .characteristics__wr-amount 
                                .characteristics__amount 
                                    span.characteristics__amount-num 15
                                    span.characteristics__pieces шт
                                .characteristics__amount-text На складе
                    li.characteristics__item
                        .characteristics__title Код производителя
                        .characteristics__data ЧП265895
                    
                .product__price-buttons
                    .product__wr-price
                        .product__price
                            .product__wr-price-current #[span 450] р
                            .product__wr-price-old #[span 650]
                    .product__buttons
                        ul.product__activity-list
                            li.product__activity-item.product__activity-buy.product__activity_active
                                //- .product__wr-add_active
                                .product__wr-add
                                    button.product__add-piece.product__decrement
                                    input.product__added-pieces(type="text")
                                    button.product__add-piece.product__increment
                                button.product__button.product__buy.product__buy_active(type="button") Купить
                                button.product__button.product__in-basket(type="button") #[span В корзине] #[span перейти]
                            li.product__activity-item
                                button.product__button.product__inform(type="button") Сообщить о поступлении
                            li.product__activity-item
                                button.product__button.product__communication(type="button") Связаться с менеджером
                            li.product__activity-item
                                .product__wr-maybe
                                    button.product__button.product__maybe(type="button") Возможно вас заинтересует
                                    button.product__button.product__maybe-buy(type="button") Купить

            .product__zoom-cover
                .product__zoom-wr-slider
                    .swiper.product__zoom-swiper
                        .swiper-wrapper.product__zoom-wr-swiper
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/sales-hits-image-content.webp'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/goods-promo-slider-img-content.webp'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/sales-hits-image2-content.webp'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/sales-hits-strawberry-content.webp'), alt="" loading="lazy")
                    .product__zoom-arrow.product__zoom-arrow_prev
                    .product__zoom-arrow.product__zoom-arrow_next
                .zoom__close
        .product-desc          
            .product-desc__controll
                .product-desc__button.product-desc__description.product-desc__button_active(data-index="0") Описание
                .product-desc__button.product-desc__reviews(data-index="1") Отзывы
            
            .product-desc__wr-content 
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__about-tab-button_m
                    | Описание
                .product-desc__content.product-desc__content-about.product-desc__content_mob.product-desc__content_active(data-index="0")
                    .product-desc__wr-title
                        h2 Сибирский сбор / Siberian Berries
                    .product-desc__text 
                        p Чайные пирамидки с ярлыком для разовой з аварки в индивидуальных конвертах. <br> Чай черный байховый «NIKTEA»® среднелистовой с добавками растительного сырья с ароматом лесных ягод «Сибирский Сбор»15 пирамидок по 2.7 г
                        p Искусно купажированный чай с плантаций Индии и Цейлона. <br> Очень ароматный сбор на основе крепкого черного чая с душистыми таежными ягодами. Вкус многогранный, с живой кислинкой и лесной ноткой.
                
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__review-tab-button_m
                    | Отзывы
                .product-desc__content.product-desc__content-review.product-desc__content_mob(data-index="1")
                    include components/reviews
                    
        .interesting 
            .interesting__wr-title 
                h2 Вам может быть интересно
            .swiper.interesting-sl
                .swiper-wrapper.interesting-sl__wrapper 
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее

                .interesting-sl__arrows
                    .interesting-sl__arrow.interesting-sl__prev.scaleX1_1
                    .interesting-sl__arrow.interesting-sl__next.scaleX1_1
