
extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content
    
    +bread-crumbs(bread_crumbs)

    .card-wrapper
        .product 
            .product__wr-images
                .product__wr-slider
                    .product__new.product__new_active
                    .swiper.product__slider.scale1_1
                        .swiper-wrapper.product__slider-wrapper
                            .swiper-slide.product__slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                    //- .favorites__heart_active - если есть в избранном
                    .product__favorites.animation-beat-heart

                    .product__goods-wr-arrow_mobile.product__goods-wr-arrow_mobile-prev
                        .product__goods-arrow_mobile.product__goods-prev_mobile
                    .product__goods-wr-arrow_mobile.product__goods-wr-arrow_mobile-next
                        .product__goods-arrow_mobile.product__goods-next_mobile
                .product__wr-thumbs
                    .swiper.product__thumbs
                        .swiper-wrapper.product__thumbs-wrapper
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                            .swiper-slide.product__thumb-slide
                                img(src=require('../img/content/coffeemachine-content.png') alt="" loading="lazy")
                    
                    .product__goods-wr-arrow.product__goods-wr-arrow-prev
                        .product__goods-arrow.product__goods-prev
                    .product__goods-wr-arrow.product__goods-wr-arrow-next
                        .product__goods-arrow.product__goods-next
            .product__wr-info 
                .product__wr-title 
                    h1.product__title Суперавтоматическая кофемашина WMF 9000 S+
                    h2.product__sub-title
                //- Мобильная версия
                .product__wr-title_m
                    h2.product__title_m
                        span Суперавтоматическая кофемашина WMF 9000 S+
                        span
                .product__price.characteristics__price_m
                    .product__wr-price-current #[span 1 450 000] р
                    .product__wr-price-old #[span 1 650 000]
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__char-tab-button_m
                    | Характеристики
                ul.product__characteristics.characteristics__list.product-desc__content_mob
                    li.characteristics__item
                        .characteristics__title Назначение
                        .characteristics__data Профессиональная
                    li.characteristics__item
                        .characteristics__title Материалы
                        .characteristics__data Нержавеющая сталь, пластик
                    li.characteristics__item
                        .characteristics__title Цвет
                        .characteristics__data
                            ul.characteristics__types-list.characteristics__types-colors
                                li.characteristics__types-item.characteristics__types-item_active(data-type="black")
                                    div.characteristics__types-body.characteristics__types-body_black
                                li.characteristics__types-item(data-type="white")
                                    div.characteristics__types-body
                                li.characteristics__types-item(data-type="white")
                                    div.characteristics__types-body.characteristics__types-body_bw
                    li.characteristics__item
                        .characteristics__title Чашек кофе в день
                        .characteristics__data До 50 чашек (рекомендовано)
                    li.characteristics__item
                        .characteristics__title Габариты ШхГхВ
                        .characteristics__data 325 х 561 х 50
                    li.characteristics__item
                        .characteristics__title Напряжение / мощность
                        .characteristics__data 220 V/2300 Вт
                    li.characteristics__item
                        .characteristics__title Бренд
                        .characteristics__data #[a(href="#0" title="") WMF]  
                    li.characteristics__item
                        .characteristics__title Страна
                        .characteristics__data Германия
                    li.characteristics__item
                        .characteristics__title.characteristics__available-title Наличие
                        .characteristics__data.characteristics__wr-available
                            .characteristics__available-state
                                span.characteristics__available-item.characteristics__available_active(data-type="available") Есть в наличии
                                span.characteristics__available-item(data-type="awaiting") Ожидается поступление 
                                span.characteristics__available-item(data-type="withdrawn") Снято с продажи
                                span.characteristics__available-item(data-type="order") Под заказ
                            .characteristics__wr-amount 
                                .characteristics__amount 
                                    span.characteristics__amount-num 15
                                    span.characteristics__pieces шт
                                .characteristics__amount-text На складе
                    li.characteristics__item
                        .characteristics__title Артикул
                        .characteristics__data 03.1120.1311
                    
                .product__price-buttons
                    .product__wr-price
                        .product__price
                            .product__wr-price-current #[span 1 450 000] р
                            .product__wr-price-old #[span 1 650 000]
                    .product__buttons
                        ul.product__activity-list
                            li.product__activity-item.product__activity-buy.product__activity_active
                                //- .product__wr-add_active
                                .product__wr-add
                                    button.product__add-piece.product__decrement
                                    input.product__added-pieces(type="text")
                                    button.product__add-piece.product__increment
                                button.product__button.product__buy.product__buy_active(type="button") Купить
                                button.product__button.product__in-basket(type="button") #[span В корзине] #[span перейти]
                            li.product__activity-item
                                button.product__button.product__inform(type="button") Сообщить о поступлении
                            li.product__activity-item
                                button.product__button.product__communication(type="button") Связаться с менеджером
                            li.product__activity-item
                                .product__wr-maybe
                                    button.product__button.product__maybe(type="button") Возможно вас заинтересует
                                    button.product__button.product__maybe-buy(type="button") Купить

            .product__zoom-cover
                .product__zoom-wr-slider
                    .swiper.product__zoom-swiper
                        .swiper-wrapper.product__zoom-wr-swiper
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/coffeemachine-content.png'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/coffeemachine-content.png'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/coffeemachine-content.png'), alt="" loading="lazy")
                            .swiper-slide.product__zoom-slide
                                img.product__zoom-image(src=require('../img/content/coffeemachine-content.png'), alt="" loading="lazy")
                    .product__zoom-arrow.product__zoom-arrow_prev
                    .product__zoom-arrow.product__zoom-arrow_next
                .zoom__close
        .product-desc          
            .product-desc__controll
                .product-desc__button.product-desc__description.product-desc__button_active(data-index="0") Описание
                .product-desc__button.product-desc__price(data-index="1") Прайсы
                .product-desc__button.product-desc__reviews(data-index="2") Отзывы
            
            .product-desc__wr-content 
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__about-tab-button_m
                    | Описание
                .product-desc__content.product-desc__content-about.product-desc__content_mob.product-desc__content_active(data-index="0")
                    .package__wr-title 
                        h2.package__title Комплектация
                    
                    ul.package__tabs-list
                        li.package__tabs-item.package__tabs-item_active(data-tab_item="0") 03.1950.1001
                        li.package__tabs-item(data-tab_item="1") 03.1950.1601
                        li.package__tabs-item(data-tab_item="2") 03.1920.5000
                        li.package__tabs-item(data-tab_item="3") 03.1950.5001
                        li.package__tabs-item(data-tab_item="4") 03.1950.5601
                        li.package__tabs-item(data-tab_item="5") 03.1950.5001 + HC

                    .product-desc__wr-title
                        h2 Сибирский сбор / Siberian Berries
                    .product-desc__text 
                        p WMF 9000 S+ разработана для взыскательных любителей кофе. Кофемашина отличается первоклассным качеством для заведений, где требуется разнообразное меню изысканных кофейных напитков, а обслуживание должно быть быстрым.
                        p Рекомендована для средней дневной потребности в 350 чашек, WMF 9000 S+ готовит каждый напиток с идеальной температурой благодаря трем вариантам горячей воды. Машинка автоматически поднимает или опускает чашку на нужную высоту. Такое пристальное внимание к деталям гарантирует Вам идеальную чашку кофе.
                
                    ul.package__content-list
                        li.package__content-item.package__content-item_active(data-content_item="0")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1950.1001
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы | Чистка варочного блока
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk | Smart Milk
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки
                        
                        li.package__content-item(data-content_item="1")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1950.1601
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk 
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки
                        
                        li.package__content-item(data-content_item="2")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1920.5000
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы | Чистка варочного блока
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk | Smart Milk
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки
                        
                        li.package__content-item(data-content_item="3")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1950.5001
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы | Чистка варочного блока
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk | Smart Milk
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки
                        
                        li.package__content-item(data-content_item="4")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1950.5601
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы | Чистка варочного блока
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk | Smart Milk
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки
                        
                        li.package__content-item(data-content_item="5")

                            ul.package__table-list
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Основное
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Гарантия
                                            .package__properties-text.package__value 12 месяцев
                                        li.package__properties-item 
                                            .package__properties-text.package__property Страна
                                            .package__properties-text.package__value Германия
                                        li.package__properties-item 
                                            .package__properties-text.package__property Производитель
                                            .package__properties-text.package__value WMF
                                        li.package__properties-item 
                                            .package__properties-text.package__property Материалы
                                            .package__properties-text.package__value Нержавеющая сталь, пластик
                                        li.package__properties-item 
                                            .package__properties-text.package__property Назначение
                                            .package__properties-text.package__value Профессиональная
                                        li.package__properties-item 
                                            .package__properties-text.package__property Цвет
                                            .package__properties-text.package__value Черный, белый, черно-белый
                                        li.package__properties-item 
                                            .package__properties-text.package__property Артикул
                                            .package__properties-text.package__value 03.1950.5001 + HC
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Функции
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Программы промывки
                                            .package__properties-text.package__value.package__value_fn Декальцинация | Чистка молочной системы | Чистка варочного блока
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дисплей
                                            .package__properties-text.package__value Сенсорный
                                        li.package__properties-item.package__properties-item_milk-system
                                            .package__properties-text.package__property Молочная система
                                            .package__properties-text.package__value.package__value_milk-system Easy Milk | Basic Milk | Dynamic Milk | Smart Milk
                                        li.package__properties-item 
                                            .package__properties-text.package__property Встроенная кофемолка
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран горячей воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Кран пара
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Шоколадный миксер
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подогрев чашек (Steam Jet)
                                            .package__properties-text.package__value Да
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Plug&Clean
                                            .package__properties-text.package__value Нет
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Напитки
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Высота стакана
                                            .package__properties-text.package__value До 175мм
                                        li.package__properties-item 
                                            .package__properties-text.package__property Чашек кофе в день
                                            .package__properties-text.package__value До 50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество напитков
                                            .package__properties-text.package__value До 100 комбинаций
                                        li.package__properties-item 
                                            .package__properties-text.package__property Предварительное заваривание
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип кофе
                                            .package__properties-text.package__value Зерновой, молотый
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                        li.package__properties-item 
                                            .package__properties-text.package__property Тип шоколада
                                            .package__properties-text.package__value Смесь для автоматических кофемашин
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напитки с холодным молоком
                                            .package__properties-text.package__value Да
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Объемы
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бака для воды
                                            .package__properties-text.package__value 4 л
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для зерна
                                            .package__properties-text.package__value 700г ≈ 77 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем контейнера для жмыха
                                            .package__properties-text.package__value 300г ≈ 30 чашек кофе
                                        li.package__properties-item 
                                            .package__properties-text.package__property Объем бункера для шоколада
                                            .package__properties-text.package__value 300г ≈ 35 порций
                                            label.package__note-icon
                                                input(type="checkbox")
                                                .package__note-content Не во всех комплектациях
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Производительность
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Напряжение
                                            .package__properties-text.package__value 220 V
                                        li.package__properties-item 
                                            .package__properties-text.package__property Мощность
                                            .package__properties-text.package__value 2300 Вт
                                        li.package__properties-item 
                                            .package__properties-text.package__property Количество бойлеров
                                            .package__properties-text.package__value 2
                                        li.package__properties-item 
                                            .package__properties-text.package__property Давление помпы
                                            .package__properties-text.package__value До 15 бар
                                li.package__table-item
                                    .package__table-wr-title
                                        h2.package__table-title Габариты и установка
                                    ul.package__properties-list
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к водопроводу
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Дренаж для воды
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Подключение к химии
                                            .package__properties-text.package__value Да
                                        li.package__properties-item 
                                            .package__properties-text.package__property Габариты ШхГхВ
                                            .package__properties-text.package__value 325х561х50
                                        li.package__properties-item 
                                            .package__properties-text.package__property Вес
                                            .package__properties-text.package__value 32 кг; 26,2 кг без упаковки

                .product__tab-button_m.product__price-tab-button_m
                    | Прайсы
                .product-desc__content.product-desc__content-about.product-desc__content_mob(data-index="1")
                    ul.prices__list 
                        li.prices__item 
                            a.prices__item-link(href="./files/price.pdf" title="" download)
                                .prices__link-icon 
                                .prices__link-title Прайс 5000S+
                        li.prices__item 
                            a.prices__item-link(href="./files/price.pdf" title="" download)
                                .prices__link-icon 
                                .prices__link-title Прайс 5000S+
                        
                //- кнопка для мобильной версии
                //- .product__tab-active - подкрашивает активную кнопку
                .product__tab-button_m.product__review-tab-button_m
                    | Отзывы
                .product-desc__content.product-desc__content-review.product-desc__content_mob(data-index="2")
                    include components/reviews
        

        .interesting 
            .interesting__wr-title 
                h2 Вам может быть интересно
            .swiper.interesting-sl
                .swiper-wrapper.interesting-sl__wrapper 
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее
                    .swiper-slide.interesting-sl__slide
                        .interesting-sl__wr-img
                           img(src=require('../img/content/sales-hits-strawberry-content.webp') alt="" loading="lazy")
                        .interesting-sl__wr-title 
                            h2 Colombia andino
                        .interesting-sl__wr-price
                            p 450 р
                        .interesting-sl__wr-button
                            a(href="#0") Подробнее

                .interesting-sl__arrows
                    .interesting-sl__arrow.interesting-sl__prev.scaleX1_1
                    .interesting-sl__arrow.interesting-sl__next.scaleX1_1
